---
import GitHub from '../components/GitHub.vue';
import Logo from '../components/Logo.vue';
import TeamSection from '../components/TeamSection.astro';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-white dark:bg-gray-800 text-gray-400 antialiased">

		<nav class="absolute flex w-full items-center justify-center md:justify-end gap-4 px-6 py-4 font-medium text-gray-800 dark:text-gray-300">
			<a href="/start-here" class="hover:text-tertiary">Documentation</a>
			<a href="https://github.com/alpinejs/alpine" class="block hover:text-tertiary" target="_blank">
				<GitHub :height="5" :width="5" client:load />
			</a>
		</nav>

		<header class="m-auto flex flex-col items-center px-8 pt-32 pb-24 text-center text-gray-800 dark:text-gray-400 md:w-[650px]">
			<Logo client:load />

			<h2 class="font-light pt-6 text-3xl">
				Minify your CLI with a <span class="text-tertiary italic underline">dependency free</span>, fully featured, CLI framework.
			</h2>
			<a href="/docs" class="mx-auto mt-10 flex items-center justify-center rounded-xl border border-transparent bg-tertiary px-8 py-3 text-lg tracking-wide text-white transition-colors hover:bg-primary">
				Get started →
			</a>
		</header>

		<section class="mx-auto px-4 text-gray-800 dark:text-gray-200 md:w-[775px] md:px-0">
			<div class="relative rounded-xl border-4 border-tertiary bg-white dark:bg-gray-800 md:text-xl">
				<div class="flex space-y-2 overflow-x-auto px-8 py-6 md:overflow-hidden">
					<code class="whitespace-pre">composer create-project minicli/application app</code>
				</div>

				<div class="absolute inset-0 flex items-center" style="z-index: -1; margin: 0">
					<div class="left-6 -mr-16 h-full w-full translate-x-4 scale-y-95 transform skew-y-3 rounded-xl border-4 border-primary shadow-lg shadow-tertiary"></div>
				</div>
			</div>
		</section>

		<TeamSection />
	</body>
</html>
